<nav class="navegacao">
  <div class="container">
    <a routerLink="livros" routerLinkActive="active">
      <fa-icon [icon]="faBookOpen"></fa-icon>
    </a>
    <a routerLink="autores" routerLinkActive="active">
      <fa-icon [icon]="faPenNib"></fa-icon>
    </a>
    <a routerLink="favoritos" routerLinkActive="active">
      <fa-icon [icon]="faBookmark"></fa-icon>
    </a>
    <a routerLink="vendas" routerLinkActive="active">
      <fa-icon [icon]="faList"></fa-icon>
    </a>
  </div>
</nav>
