.detalhes{
  position: relative;

  hr{
    margin: 30px 0;
    color: black;
  }

}

.livro_detalhes{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 30px;
  position: relative;

  *{
    margin: 0;
  }

  > div {
    margin: 15px;

    .autor{
      margin: 5px 0;
    }

    .ano{
      background-color: #7bc537;
      display: inline-block;
      padding: 2px 10px;
      border-radius: 8px;
      color: #ffffff;
      font-size: 0.9em;
    }
  }

  img{
    max-width: 180px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  }

  h2{
    max-width: 70%;
    font-size: 2em;
  }
}

.sinopsis{
  max-width: 100%;
  font-weight: 500;
  font-max-size: small;
  font-family: "Arial";
  color: #3a3a3a;
}

.vendas_acordeao{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 5px;
  margin: 15px 0 15px;
  font-size: 1.2em;

  >span{
    color: #555555;
  }

}

.absolute_item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  font-size: 0.9em;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(140, 140, 140, 0.3);
  position: absolute;
  top: 245px;
  left: 170px;

  .ng-fa-icon{
    color: #6b6b6b;
    position: absolute;
    cursor: pointer;
  }
  .ng-fa-icon:hover{
    color: cornflowerblue;
    transform: scale(1.01);
  }
}
